body {
  background-image: url(Persea_americana_fruit_2.jpg);
  font-family: Montserrat, sans-serif;
  color: #000000;
  text-align: justify;
}

@font-face {
  font-family: Montserrat;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
}

.container-fluid.main-container{
  background-color: #DCDCDC;
}

.title.toc-ignore {
  background-color: #699f37;
  color: #ffffff;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: #eb6d2b;
}

h1 {
  color: #eb6d2b
}

.r {
  color: #ffffff;
  background-color: #000000;
}

th {
  font-size: 13px;
  font-weight: bold;
  background: #8cb575;
  border-top: 4px solid #699f37;
  border-bottom: 1px solid #fff;
  color: #192812;
  padding: 8px;
}

tr {
  background-color: #c2d8b8;
}

